* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Colors
ad62aa - purple
eab9c9 - pink
*/
body{
    color: purple;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    position: relative;
    opacity: 0.9;
}

.navBar{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    margin-left: 10%;
}

ul > li {
    list-style-type: none;
    padding: 3rem 1.5rem;
}


h1 {
    font-size: 3rem;
    text-align: center;
    text-shadow: .2rem .2rem .2rem #ad62aa;
}

.logo{
   display: flex;
   justify-content: center;
}

.tickleFooter{
    background-color: purple;
    height: 7vh;
    text-align: center;
    width: 100vw;
    position: absolute;
    bottom: 0;
}